
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom{
    background-image: url(assets/pexels-pixabay-257499.jpg);
    border-image: url(assets/building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.font-Cardo{
    font-family: 'Cardo';
}
.font-poppins{
    font-family: 'Poppins';
}

.bg{
    background-image: url('assets/pexels-pixabay-257499.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-building{
    background-image: url('assets/building.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-meet{
    background-image: url('assets/meeting.jpg');
}

.bg-team{
    background-image: url('assets/download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.icon.active {
    transform: rotate(180deg); /* Example rotation for active state */
    transition: transform 0.4s ease-out;
}


/* 
@layer components{
    .accordian-body{
        @apply max-h-0 overflow-hidden transition-all duration-200 ease-ou hidden;
        display: hidden;
    }
} */

.icon{
    transition: transform 0.2s; 
}

.icon.active {
    transform: rotate(-180deg);
}